<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-notify-icons"
        version="0.0.1">

    <name>NotificationIcons</name>

    <description>The plugin puts icons in your Android resource file to allow custom notification icons (from resource) using cordova-plugin-local-notifications</description>

    <repo>https://github.com/mopeka/cordova-plugin-notify-icons.git</repo>

    <keywords>icon</keywords>

    <license>Apache 2.0</license>

    <author>jk</author>

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.6.0" />        
    </engines>
    
    <!-- info -->
    <info>
    </info>

    <!-- android -->
    <platform name="android">
        
        <resource-file
            src="src/android/res/drawable-hdpi/notify_icon.png"
            target="res/drawable-hdpi/notify_icon.png" />
            
        <resource-file
            src="src/android/res/drawable-mdpi/notify_icon.png"
            target="res/drawable-mdpi/notify_icon.png" />
         
        <resource-file
            src="src/android/res/drawable-xhdpi/notify_icon.png"
            target="res/drawable-xhdpi/notify_icon.png" />
            
        <resource-file
            src="src/android/res/drawable-xxhdpi/notify_icon.png"
            target="res/drawable-xxhdpi/notify_icon.png" />
            
        <resource-file
            src="src/android/res/drawable-xxxhdpi/notify_icon.png"
            target="res/drawable-xxxhdpi/notify_icon.png" />
    </platform>
    

</plugin>
